
<section class="products-container">
  <a [routerLink]="['/products', product.id]" *ngFor="let product of filteredProducts; trackBy: trackById" class="product-wrapper">
    <img
    class="image-add-cart"
    src="/assets/add-cart.svg"
    alt="icon add cart"
    (click)="handleAddToCart($event, product)"
  >
  
    <div *ngIf="getProductCount(product.id) > 0" class="cart-counter">
      {{ getProductCount(product.id) }}
    </div>

    <div class="product-card">
      <img [src]="product.images[0]" alt="{{ product.title }}">
      <h3>{{ product.title }}</h3>
      <span class="price">${{ product.price }}</span>
    </div>
  </a>
</section>
