.cart {
    max-width: 1100px;
    margin: 0 auto;
    padding: 1rem;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}
.item-quantity,
.item-total {
  font-size: 0.9rem;
  color: #4b5563;
}
.quantity-btn {
    background-color: #e5e7eb;
    border: none;
    padding: 0.2rem 0.5rem;
    margin: 0 0.3rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    color: #111827;
}
  
.quantity-btn:hover {
    background-color: #d1d5db;
}

.container-cart-items {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
}

.order-summary-container{
    position: sticky;
    top: 20px;
}
.cart-item
.item-title{
    color: #9ca3af;
    color: #9ca3af;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    max-width: 100%; 
    margin: 0; 
}
.item.item-price{
    color: black;
}

@media (max-width: 800px) {
    .container-cart-items {
        flex-direction: column;
    }
    .order-summary-container {
        width: 100%;
    }
}

.cart h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: white;
}

.cart ul {
    flex: 1;
    min-width: 300px;
    padding: 0;
    margin: 0;
}

.cart-item {
    display: flex;
    align-items: flex-start;
    position: relative;
    border-bottom: 1px solid #e5e7eb;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    gap: 1rem; 
    overflow: hidden;
}

.cart-item img {
    width: 100%;
    max-width: 150px;
    height: auto;
    aspect-ratio: 2/3;
    object-fit: cover;
    margin-right: 1rem;
}

.item-details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1; 
    min-width: 0
}

.remove-item {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #9ca3af;
    cursor: pointer;
    transition: color 0.3s;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.responsive-remove {
    position: static;
    margin-left: auto;
    padding: 0 0.5rem;
}



@media (max-width: 480px) {
    .cart-item {
        flex-direction: column;
        padding: 0.5rem;
    }
    
    .cart-item img {
        max-width: 100%;
    }
    
    
    .responsive-remove {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        background: rgba(255,255,255,0.8);
        border-radius: 50%;
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .item-title {
        font-size: 1rem;
    }
    
    .item-price {
        font-size: 0.9rem;
    }
}