<div class="cart">
  <div class="container-cart-items">
    <ul class="cart-item'list">
      @for (item of cartItems; track item.product.id) {
        <li class="cart-item">
          <img [src]="item.product.images?.[0]" [alt]="item.product.title" />
          <div class="item-details">
              <p class="item-title">{{ item.product.title }}</p>
              <p class="item-quantity">
                <button class="quantity-btn" (click)="decrementItem(item.product.id)">−</button>
                {{ item.quantity }}
                <button class="quantity-btn" (click)="incrementItem(item.product.id)">+</button>
              </p>
              <p class="item-price">Precio unitario: ${{ item.product.price }}</p>
              <p class="item-total">Total: ${{ item.product.price * item.quantity }}</p>
          </div>
          <button class="remove-item responsive-remove" (click)="removeFromCart(item.product.id)">x</button>
        </li>
      }
    </ul>
    <div class="order-summary-container">
      <app-order-summary></app-order-summary>
    </div>
  </div>
</div>