.cart-container {
    position: relative;
    display: inline-block;
}

.image-cart {
    width: 8dvh;
}

.cart-badge {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #04acab;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 900px) {
    .image-cart{
        width: 10dvh;
    }
}