<section class="slider-container">
    <div class="slides" [style.transform]="'translateX(' + (-currentIndex * 100) + '%)'" [class.transition]="isTransitioning">
      @for (image of images; track $index) {
        <img [src]="image" class="slide">
      }
    </div>
  
    <button class="prev" (click)="prevSlide()">❮</button>
    <button class="next" (click)="nextSlide()">❯</button>
  
    <div class="indicators">
      @for (image of images.slice(1, images.length - 1); track $index) {
        <button (click)="goToSlide($index)" [class.active]="$index === currentIndex - 1"></button>
      }
    </div>
</section>
  