.container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  padding: 0 2rem;
}

.containerProduct {
  display: flex;
  background-color: #35bba50f;
  justify-content: center;
  gap: 4rem;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  padding: 2rem;
}
.buttonWrapper {
  position: relative;

}

.cart-counter {
  background-color: #2c2c2c;
  color: white;
  border-radius: 50%;
  padding: 0.4rem 0.6rem;
  font-size: 0.8rem;




  top: -10px;
  right: -10px;
  font-weight: bold;
  position: absolute;
}

.containerInfo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 400px;
  width: 100%;
  align-items: center;
}

.imageProduct {
  border-radius: 8px;
  width: 100%;
  max-width: 600px;  
  height: auto;
  aspect-ratio: 1 / 1; 
  object-fit: fill; 
}

.nameProduct {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.containerPrice {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.descriptionProduct {
  font-size: 1.2rem;
  width: 100%;
  text-align: center;
}

.price {
  font-size: 1.2rem;
}

.buttonProduct {
  background-color: #36ac84;
  color: white;
  font-size: 1rem;
  width: 100%;
  max-width: 300px;
  height: 3rem;
  border: none;
  cursor: pointer;
  margin: 0 auto;
}

.buttonProduct:hover {
  background-color: #2f9674;
}

@media (max-width: 768px) {
  .imageProduct {
    max-width: 500px; 
  }

  .container {
    padding: 0 1rem;
  }

  .containerProduct {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }

  .nameProduct {
    font-size: 2.2rem;
  }

  .descriptionProduct {
    font-size: 1.3rem;
  }

  .buttonProduct {
    font-size: 1rem;
    height: 2.5rem;
}
}