<div class="container" *ngIf="product">
  <div class="containerProduct">
    <img
      loading="lazy"
      class="imageProduct"
      [src]="product.images[0]"
      [alt]="product.title"
    />
    
    <div class="containerInfo">
      <h3 class="nameProduct">{{ product.title }}</h3>
      <p class="price">${{ product.price }}</p>
      <p class="descriptionProduct">{{ product.description }}</p>
      
      <div class="button-group">
        <button class="buttonProduct" (click)="addToCart()">Agregar al carrito</button>
        <span *ngIf="productCount > 0" class="cart-counter">
          {{ productCount }}
        </span>
      </div>
    </div>
  </div>
</div>